@import url("https://www.googleapis.com/css2?family=Be+Vietnam+Pro&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Be Vietnam Pro", sans-serif;
}
.logo {
    position: absolute;
    top: 2%;
    left: 5%;
    width: 100%;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/bg-image.svg);
    background-size:cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

main {
    max-width: 100%;
    margin-top: 10%;
}

.form {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 810px;
    z-index: 1;
    max-width: 100%;
}

.form-header {
    color: #F8FAFC;
    width: 75%;
    text-align: center;
    margin-bottom: 7%;

}

.form-header h1 {
    font-size: 4rem;
    margin-bottom: 5%;
}

.form-header p {
    font-size: 2rem;
}
form {
    width: 100%;
    padding: 1rem;
}

.form-content {
    display: flex;
    width: 90%;
    height: 200%;
    background-color: rgb(255, 255, 255, 0.2);
    border: none;
    border-radius: 0.7rem;
    max-width: 810px;
    text-align: center;
}

.li {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-direction: column;
    width: calc(50% - 5px);
}
.textbox {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 8px;
}
.li label {
    font-size: 0.875rem;
    color: #F8FAFC;
    align-self: flex-start;
    padding: 0.2rem;
}
.li input[type=text], select {
    border: none;
    padding: 1rem;
    border-radius: 0.7rem;
    color: #111729;
    font-weight: bold;
}
.li select[name=size], select[name=subject] {
    appearance: none;
    background-image: url(../images/Expand_down.svg);
    background-repeat: no-repeat;
    background-position: 100%;
}
::placeholder {
    color: #CDD5E0;
}
.lta {
    width: 100%;
}

.lta label {
    font-size: 0.875rem;
    color: #F8FAFC;
    align-self: flex-start;
    padding: 0.2rem;
}
.lta textarea {
    border: none;
    padding: 1rem;
    border-radius: 0.7rem;
    height: 9rem;
    color: #111729;
    font-weight: bold;
}

button {
    border: none;
    background-color: #FFFF;
    border-radius: 0.7rem;
    font-size: 1.25rem;
    font-weight: bold;
    color: #4036A9;
    padding: 1rem;
    margin: 0.4rem;
    width: 98%;
}
@media (max-width: 648px) {
    .li {
        flex-direction: column;
        display: flex;
        width: calc(100% - 5px);
    }
    .lta textarea {
        height: 12rem;
    }
    .form-header h1 {
        font-size: 2rem;
    }
    .form-header p{
        font-size: 1rem;
    }
}